html {
	font-family: Arial, Helvetica, sans-serif;
}
#space1{
	width: 8%;
}
#space2{
	width: 71%;
}
.header{
	background-color: #232323;
	height: 85px;
}
#welcome{
	color: white;
}
#body-head-text{
	color: #527c16;
	margin-left: 8%;
	font-size: 40px;
}
#body-head{
	padding-top: 30px;
	background-color: #f6f9f3;
	height: 80px;
	border-bottom: 1px solid #dddddd;
}
#body-head-2{
	text-align: center;
	padding-top: 40px;
	font-weight: 500;
}